
<div
  class="w-[70%] mx-auto p-10 bg-gradient-to-r from-sky-200 to-indigo-200 mt-5 rounded"
>
  <form action="/register">
    <h1 class="text-5xl font-bold mb-10">Suscribe User</h1>
    <input
    class="w-1/2 mb-5 p-3 border rounded"
    type="email"
    placeholder="username@example.com"
    name="email"
  />
    <button
      class="mb-5 bg-sky-500 hover:bg-emerald-600 w-1/2 text-3xl hover:text-white p-3 rounded"
    >
      Suscribe
    </button>